:host{
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right;
}
span{
	display: block;
}
.city{
	font-size: 5em;
	font-weight: bold;
	color: white;
	font-family: 'Roboto', 'Noto';
	text-shadow: 0px 0px 5px black;
}
.desc, .humidity{
	font-size: 2em;
	color: white;
	font-family: 'Roboto', 'Noto';
	text-shadow: 0px 0px 5px black; 
}
.temp{
	font-size: 7em;
	font-weight: bold;
	color: white;
	font-family: 'Roboto', 'Noto';
	text-shadow: 0px 0px 5px black;
}